@import "./mixins";
@import "./variables";
@import "./typography";

html,
body,
button,
input,
select,
textarea,
p,
a,
span {
  font-family: "latoRegular";
  font-size: 16px;
  color: var(--color-primary) !important;
}

button {
  color: var(--bg) !important;
}

button:focus {
  outline: none;
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "latoBold";
  color: var(--color-primary) !important;
}

:root {
  --color: #091a28;
  --color-primary: #091a28;
  --color-secondary: #f3f5f4;
  --bg: #f3f5f4;
  --bg-secondary: #091a28;
  --border-color: #ddd;
}

.dark-mode {
  --color: #f3f5f4;
  --color-primary: #f3f5f4;
  --color-secondary: #091a28;
  --bg: #091a28;
  --bg-secondary: #f3f5f4;
  --border-color: #0d2538;
}

body {
  font-family: "latoRegular";
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
  font-size: 16px;
}

a:hover {
  color: var(--color-primary);
  opacity: 0.8;
  background-color: transparent;
}
