@font-face {
    font-family: "latoBold";
    src: url(~@/assets/fonts/Lato-Bold.woff2) format('woff2'),
        url(~@/assets/fonts/Lato-Bold.woff) format('woff'),
        url(~@/assets/fonts/Lato-Bold.eot);
}
@font-face {
    font-family: "latoRegular";
    src: url(~@/assets/fonts/Lato-Regular.woff2) format('woff2'),
        url(~@/assets/fonts/Lato-Regular.woff) format('woff'),
        url(~@/assets/fonts/Lato-Regular.eot);
}